#empty
{
background-color:#cccccc;
border:1px solid black;
height:30px;
width:300px;
padding:0px;
}
 
#d2
{
position:relative;
top:0px;
left:0px;
background-color:#333333;
height:30px;
width:0px;
padding-top:5px;
padding:0px;
}
 
#d1
{
position:relative;
top:0px;
left:0px;
color:#f0ffff;
height:30px;
text-align:center;
font:bold;
padding:0px;
padding-top:5px;
}